@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box;}
body{ width:100%; padding:0; margin:0; background:#1E1F22;  font-family: 'Poppins', sans-serif; }

a{ outline:none;text-decoration:none; }
a:focus, a:hover{ outline:none; text-decoration:none; }
ul{ padding:0; margin:0; list-style:none; }
img.img-fluid{
	max-width: 100%;
	height: auto;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TimesNewRomanPS-BoldMT.woff2') format('woff2'),
        url('../fonts/TimesNewRomanPS-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




/**** about-main *****/

.about-main {
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 0px;
    background: transparent;
    overflow: hidden;
    width: 100%;
}
.about-main-row {
    margin: 0px 0px 0px 25px;
    padding: 35px 0px 38px 0px;
    width: 100%;
    border-radius: 40px 0px 0px 40px;
    background: #f5f5fb;
}
.about-main-text{
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    width: 1000px;
}
.about-main-text p {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 300;
    font-size: 16px;
    color: #28292a;
    text-align: justify;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
}
.about-main-text p.last{
    margin: 0px 0px 0px 0px;
} 

/****** responsive *****/

@media (max-width :1660px) and (min-device-width :1280px){


/** about */
.about-main-row {
    padding: 35px 40px 38px 0px;    
}
.about-main-text {
    width: 70%;
}


}

.footer {
    padding: 44px 30px 46px 30px;
} 
.modal-dialog2 {
    margin: 60px auto 0px auto !important;
}





@media (max-width :1400px) and (min-device-width :1000px){
.about-main-text {
    width: 65%;
}

}    

@media (max-width :999px) and (min-device-width :768px){


/** about */
.about-main-row {
    padding: 35px 40px 38px 0px;    
}
.about-main-text {
    width: 70%;
}


}

@media (max-width :767px) and (min-device-width :280px){


/** about */
.about-main-row {
    padding: 19px 40px 38px 0px;    
}
.about-main-text {
    width: 85%;
}


}
 