@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box;}
body{ width:100%; padding:0; margin:0; background:#1E1F22;  font-family: 'Poppins', sans-serif; }

a{ outline:none;text-decoration:none; }
a:focus, a:hover{ outline:none; text-decoration:none; }
ul{ padding:0; margin:0; list-style:none; }
img.img-fluid{
	max-width: 100%;
	height: auto;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TimesNewRomanPS-BoldMT.woff2') format('woff2'),
        url('../fonts/TimesNewRomanPS-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/**** cont-main *****/

.cont-main {
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 0px;
    background: transparent;
    overflow: hidden;
    width: 100%;
}
.cont-main-row {
    margin: 0px 0px 0px 25px;
    padding: 35px 0px 38px 0px;
    width: 100%;
    border-radius: 40px 0px 0px 40px;
    background: #f5f5fb;
    position: relative;
}

.cont-main-row p{
    margin: 0px auto 35px auto;
    padding: 0px 0px 0px 0px;
    font-weight: 300;
    font-size: 16px;
    color: #1e1f22;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
} 
.cont-form{
    margin: 0px auto 0px auto;
    padding: 0px 32px 0px 0px;
    width: 51%;
}
.form-flex{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    column-count: 2;
    column-gap: 20px;
}
input.input{
    margin: 0px 0px 18px 0px;
    padding: 0px 0px 0px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #717171;
    line-height: 55px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: none;
}
input.input:focus{
    outline: none;
}
textarea.textarea{
    margin: 0px 0px 18px 0px;
    padding: 18px 10px 10px 24px;
    font-weight: 500;
    font-size: 16px;
    color: #717171;
    height: 292px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: none;
}
textarea.textarea:focus{
    outline: none;
}

a.image {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    width: 120px;
    background: #1e1f22;
    border-radius: 5px;
    border: none;
    display: block;
}


a.btn-n {
    margin: 21px auto 0px auto;
    padding: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 18px;
    color: #454543;
    text-align: center;
    line-height: 49px;
    width: 145px;
    background: #e9eaef;
    border-radius: 40px;
    border: none;
    display: block;
}
a.btn-n:hover{
    background: #e9eaef;
}
.btnnnn {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -25px;
}

/*** mod-body ****/

.mod-bdy {
    margin: 0px auto 0px auto;
    padding: 52px 36px 52px 44px;
    position: relative;
    background: #fff;
    border-radius: 20px;
    width: 625px;
    box-shadow: 0px 20px 30px 0px rgba(0,0,0,.50);
}
.mod-bdy p{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 18px;
    color: #1a1a1a;
    line-height: 30px;
} 
.mod-bdy p.last{
    margin: 22px 0px 0px 0px;
} 
button.close{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 27px;
    color: #3b3b3b;
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
button.close:hover{
    color: #2c6ee4;
}
.modal-content {
    background: transparent;
    border: none;
}
.modal-dialog {
    margin: 79px auto 0px auto !important;
    max-width: inherit !important;
}
.modal-body {
    padding: 0 !important;
} 


@media (max-width :1660px) and (min-device-width :1280px){

.modal-dialog {
    margin: 61px auto 0px auto !important;
}   
.cont-main-row {
    padding: 38px 0px 38px 0px;
} 

}
/****** responsive *****/


@media (max-width :1099px) and (min-device-width :768px){

.cont-form {
    width: 80%;
}


} 



@media (max-width :767px) and (min-device-width :280px){


.cont-form {
    margin: 0px auto 0px auto;
    padding: 0px 23px 0px 0px;
    width: 90%;
}
.form-flex {
    display: block;
    column-count: 1;
    column-gap: 0;
}
input.input {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 24px;
    font-size: 14px;
    line-height: 45px;
}
textarea.textarea {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    height: 320px;
}
a.image {
    font-size: 12px;
    line-height: 29px;
    width: 100px;
} 
a.btn-n {
    margin: 21px auto 0px auto;
    font-size: 15px;
    line-height: 39px;
    width: 125px;
} 

}

.footer {
    padding: 35px 30px 34px 30px;
} 
.modal-dialog2 {
    margin: 60px auto 0px auto !important;
}