@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box;}
body{ width:100%; padding:0; margin:0; background:#1E1F22;  font-family: 'Poppins', sans-serif; }

a{ outline:none;text-decoration:none; }
a:focus, a:hover{ outline:none; text-decoration:none; }
ul{ padding:0; margin:0; list-style:none; }

img.img-fluid{
	max-width: 100%;
	height: auto;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}


/******edition *****/
/*** left ***/
.lg-reg{
    font-weight: 500  !important;font-size: 21px !important;color: #fff !important;
}

/***** right ***/ 
.edition{
	margin: 0px 0px 35px 0px;
	padding: 30px 30px 34px 30px;
	overflow: hidden;
	width: 100%;
	background: #fff;
	border-radius: 15px;
}
.editionn{
	margin: 0px 0px 0px 0px;
}
.edition-row{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.edition-left{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 131px;
}
.post{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}	
img.poster-pic{
	width: 100%;
}
a.star{
	display: block;
	margin: 5px auto 0px auto;
	width: 87px;
}
a.view{
	padding: 0px 0px 0px 0px;
	font-weight: 500;
	color: #1e9fe3;
	text-decoration: underline !important;
	text-align: center;
	width: max-content;
	display: block;
	margin: 3px auto 0px auto;
	font-size: 15px;
}

.edition-right {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	/*width: 1200px;*/
	width: calc(98% - 131px);
    float: right;
}
.edition-right h3{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	font-weight: 600;
	color: #121212;
}

.edition-right h3 span{
	margin: 0px 0px 0px 0px;
	font-weight: 300;
	font-size: 16px;
	color: #121212;
}
.edition-right h4{
	padding: 0px 0px 0px 0px;
	color: #8d8c8c;
	margin: 5px 0px 0px 0px;
	font-size: 14px;
	font-weight: 400;
}	
.edition-box{
	margin: 16px 0px 0px 0px;
	padding: 8px 0px 15px 0px;
	background: #f9f9f9;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	border-top: 3px solid #ee9f23;
}
.edition-box ul{
	margin: 0px 0px 0px 0px;
	display: flex;
	column-count: 6;
	column-gap: 90px;
	padding: 0px 15px 0px 15px;
}	
.edition-box ul li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	width: 100%;
	text-align: center;
}
.edition-box ul li.last{
	margin: 0px 0px 0px 0px;
}
.bdr{
	margin: 7px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #e6e6e6;
	height: 1px;
	width: 100%;
	overflow: hidden;
}
.seller {
    margin: 0px 0px 0px 0px;
    display: flex;
    column-count: 6;
	column-gap: 90px;
	padding: 0px 15px 0px 15px;
}
.seller1{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}
.seller1 h5 {
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    color: #000;
    text-align: center;
    font-size: 17px;
    line-height: 31px;
    margin: 5px 0px 0px 0px;
}
.seller1 h5 span {
    font-weight: 600;
    display: block;
    margin: 11px 0px 0px 0px;
}
a.buy {
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 5px;
    background: #ee9f23;
	margin: 13px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	line-height: 38px;
}
a.rent{
	background: #30b5f7;
}

/**** footer **/

.footer {
    padding: 0px 30px 35px 30px;
}	




.new-dpn .dropdown-menu {
    margin: -13px 0px 0px 0px !important;
}	

/***** responsive ******/
.mb-vrsn{
	display: none;
}
.mob-edition{
	display: none;
}
@media (max-width :2800px) and (min-device-width :2100px){

.edition-box ul li {
    font-size: 21px ;
}

.seller1 h5 {
    font-size: 21px;
	line-height: 43px;
	margin: 6px 0px 0px 0px;
}

.seller1 h5 span {
    font-weight: 600;
    display: block;
    font-size: 23px;
}
a.buy {
	margin: 10px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 110px;
    line-height: 31px;
    display: block;
    border-radius: 5px;
    background: linear-gradient(#f6af4c 50%,#ed9e35 50%);
    border: 1px solid #ed9e35;
}

a.rent {
    background: linear-gradient(#30b5f7 50%,#1ba0e2 50%);
    border: 1px solid #088acb;

}

.post {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 101%;
}
a.view{
	font-size: 16px;
	    margin: 3px auto 0px auto;
}

.edition-right {
	/*width: calc(98% - 165px);*/
}

}



@media (max-width :1899px) and (min-device-width :1700px){

/*.edition-left{
	width: 20%;
}
.edition-right {
	width: 77%;
}*/
.edition-box ul {
    column-gap: 30px;
}
.seller {
    column-gap: 30px;
}
a.buy {
	/*width: 100%;*/
}	

}

@media (max-width :1699px) and (min-device-width :1400px){
/*
.main-body .top-block .right .search-country-bar .search-box input {
	height: 41px;
}	
.main-body .top-block .right .search-country-bar .search-box button {
    width: 41px;
	height: 41px;
}	
.main-body .top-block .right .search-country-bar .country-bar #country {
	height: 41px;
}	

*/

.item-search {
    width: 720px;
}

.edition-left{
	width: 13%;
}
a.star {
    margin: 4px auto 0px auto;
    width: 93px;
    display: block;
}
a.view {
	font-size: 13px;
}	
.edition-right {
	width: 85%;
}
.edition-right h3 {
    font-size: 16px;
    font-weight: 600;
}
.edition-right h4 {
	margin: 5px 0px 0px 0px;
	font-size: 14px;
	font-weight: 400;	
}
.edition-box {
    margin: 16px 0px 0px 0px;
    padding: 8px 0px 15px 0px;
}
.edition-box ul {
	column-gap: 22px;
	padding: 0px 15px 0px 15px;
}
.edition-box ul li {
	font-size: 14px;
    font-weight: 500;
}
.seller {
	column-gap: 22px;
	padding: 0px 15px 0px 15px;
}
.seller1 h5 {
    font-size: 15px;
    line-height: 31px;
    margin: 5px 0px 0px 0px;
}
.seller1 h5 span {
    font-weight: 500;
    font-size: 16px;
	margin: 0px 0px 0px 0px;
}

a.buy {
    margin: 9px 0px 0px 0px;
    padding: 0px 18px 0px 18px;
    font-weight: 400;
    font-size: 16px;
    width: 118px;
    line-height: 38px;
}



	
	
}	
@media (max-width :1399px) and (min-device-width :1200px){

.edition {
	padding: 20px 20px 20px 20px;
}		
.edition-left {
    width: 16%;
}
.edition-right {
	width: 82%;
}
.edition-right h3 {
	font-size: 17px;
	line-height: 22px;
}
.edition-right h4 {
	font-size: 14px;	
}
.edition-box {
	margin: 16px 0px 0px 0px;
	padding: 15px 0px 15px 0px;
}		
.edition-box ul {
	column-gap: 8px;
	padding: 0px 15px 0px 15px;
}
.edition-box ul li {
	font-size: 12px;
}
.seller {
	column-gap: 8px;
	padding: 0px 15px 0px 15px;
}
.seller1 h5 {
	font-size: 16px;
	line-height: 25px;
}
a.buy {
	margin: 15px 0px 0px 0px;
	font-size: 15px;
	width: 100%;
	line-height: 32px;
}	
.seller1 h5 {
    font-size: 14px;
       text-align: center;
}
.seller1 h5 span {
    font-size: 18px;
    margin: 0px auto;
 
}
	
		
		
}

@media (max-width :1399px) and (min-device-width :1200px){
.item-search {
    width: 620px;
}
}		

.modal-dialog2 {
    margin: 82px auto 0px auto !important;
}

@media (max-width :1660px) and (min-device-width :1280px){

.footer {
    padding: 30px 30px 35px 30px;
}	

.lg-reg{
    font-weight: 500 !important;
    font-size: 18px !important;
}
.main-body .top-block .left .items .searches .search-box h4 {
	height: 50px;
	font-size: 14px;
	padding-left: 36px;
}	
.main-body .top-block .left .items .searches .search-box h4::before {
    top: 20px;
    left: 22px;
}	
.main-body .top-block .left .items .searches .search-box h4::after {
	top: 20px;
}	
a.star {
    margin: 5px auto 0px auto;
    width: 87px;
}
a.view {
    margin: 3px auto 0px auto;
    font-size: 15px;
}	


.main-body .top-block .left {
    width: 280px;
}
.main-body .top-block .right {
    width: calc(100% - 280px);
}


.bdr {
    margin: 7px 0px 0px 0px;
}	
}


.modal-dialog {
    margin: 82px auto 0px auto !important;
}





@media (max-width :1400px) and (min-device-width :992px){

.edition-box ul {
    column-gap: 18px;
    justify-content: space-between;
}
.edition-box ul li {
    font-size: 13px;
}
.seller {
    column-gap: 18px;
    justify-content: space-between;
}
.seller1 h5 {
    font-size: 13px;
    line-height: 24px;
	width: 100%;
}
a.buy {
    font-size: 14px;
    width: 100%;
    line-height: 38px;
	padding: 0px 8px 0px 8px;
}

}	


@media (max-width :991px) and (min-device-width :768px){
.edition-box ul {
    column-gap: 10px;
}
.seller {
    column-gap: 10px;
}
.edition-box ul li {
    font-size: 12px;
}
.seller1 h5 {
    font-size: 12px;
    line-height: 27px;
}
.seller1 h5 span {
    margin: 0px 0px 0px 0px;
}
a.buy {
    margin: 13px 0px 0px 0px;
    font-size: 13px;
    line-height: 30px;
}
.footer {
    padding: 40px 30px 35px 30px;
}

}



@media (max-width :767px) and (min-device-width :280px){

/**** main ****/
.item-main-row {
    padding: 0px 0px 0px 0px;
}
.mob-menu{
	margin: 0px 0px 0px 0px;
	padding: 10px 15px 10px 15px;
	display: block;
}

    /******** header *****/
.menu{
    display: none;
}
.header {
    padding: 7px 0px 7px 0px;
	display:block;
	background:#ffff;
	position:relative;
    background: #131313;
    width: 100%;
}
.header-row{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:relative;
}	
.sm-logo{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:175px;
    display: block;
}	
.dropdown{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:absolute !important;
	top:0;
	right:0;
}
	
button.tg-btn{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:none;
	background: url(../img/tgl-menu.png) center center no-repeat;
	border-radius:5px;
	width: 45px;
	height: 35px;
}
.navbar-toggler-icon {
	margin:0px auto 0px auto !important;
	padding:0px 0px 0px 0px !important;
    display:grid !important;
    width:30px !important;
    height:3px !important;
	background:#fff !important;
	border-radius:5px;
}	
span.mid{
	margin:5px auto 5px auto !important;
}


.dropdown-toggle::after {
    border: none !important;
}	

.dropdown-menu {
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
	background:#000 !important;
}
a.dropdown-item {
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
	background:#000 !important;
	border-radius:0px !important;
	display:block !important;
	font-weight:500 !important;
	font-size:16px !important;
	color:#0e0e0e !important;
	text-transform:uppercase !important;
}
a.midd {
	margin:1px 0px 1px 0px !important;
}	
a.dropdown-item:hover{
	background:#fff !important;
	color:#000 !important;
}
.sidebar2 {
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
  height:100% !important;
  width: 100%;
  position: fixed;
  top:0px;
  right:0px;
  background-color:rgba(0,0,0,.95);
  overflow-x: hidden;
  transition: 0.5s;
  border-radius:0px;
  z-index: 999999;
  display:none;
  height:100%;
}

.sidebar2 a.closebtn2{
  padding:15px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar2 a.closebtn2:hover {
  color: #f1f1f1;
}

.sidebar2 .closebtn2 {
  position: absolute;
  top: 0;
  right:15px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn2 {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn2:hover {
  background-color: #fff;
}



/*** left2 ****/
.main-body  .left2 {
    display: none;
}
.left .dropdown {
	position: relative !important;
	width: 100%;
}
.main-body .left {
    width: 330px;
    margin: 0px auto;
}	
.new-dpn .dropdown-menu {
    margin: -12px 0px 0px 0px !important;
}	

/*** right ****/



.main-body   .right .search-country-bar .search-box {
    position: relative;
    width: calc(100% - 65px);
}
.search-country-bar .search-box input {
    width: 100%;
}
.new-dpn {
    right: 15px;
}
.item-search {
    margin: 0px auto 8px auto;
    padding: 0px 15px 0px 15px;
    width: 100%;
}	


.desk-txt{
	display: none;
}
.mob-txt{
	display: block;
}
.main-body   {
    width: 100%;
    display: block;
}
.main-body   .right .all-content-block .all-content-top .poster-box {
    width: 100%;
}
.main-body   .right {
    width: 100%;
}
.main-body   .right .all-content-block {
    padding: 30px 15px 35px 15px;
	margin-left: 5px;
}	

.main-body   .right .all-content-block .all-content-top .movie-desc {
    width: 100%;
    padding: 0px 0px 0px 0px;
}
img.amznn{
	margin: 3px 0px 0px 0px;
	display: block;
	width: 87px;
}

/**** footer ****/
.footer {
    padding: 40px 30px 35px 30px;
}
.edition {
    padding: 15px 15px 20px 15px;
}
.dsc-vrsn{
	display: none;
}
.mb-vrsn {
    display: block;
    margin-bottom: 15px;
}
.mb-vrsn h3{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: 500;
	font-size: 15px;
	color: #121212;
}
.mb-vrsn h4{
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	font-weight: normal;
	font-size: 14px;
	color: #8d8c8c;
}
.edition-left {
    float: none;
    width: 100%;
}
img.poster-pic{
	width: 131px;
	margin: 0px auto;
	display: block;
}
.edition-right {
    width: 100%;
    float: none;
}
.edition-box{
	display: none;
}
.mob-edition{
	display: block;
	margin: 16px 0px 0px 0px;
	padding: 8px 10px 0px 10px;
	background: #f9f9f9;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	border-top: 3px solid #ee9f23;
}
.mob-edition-list{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.mob-edition-item{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 22px 0;
	font-size: 15px;
}
.mob-edition-item::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 9px;
    height: 2px;
    right: 0;
    border-bottom: 2px dotted #C6C6C6;
}
.mob-edition-item p{
	width: 40%;
	font-size: 15px;
	color: #040404;
	line-height: 20px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}
.mob-edition-item p span{
	display: block;
	font-weight: normal;
	color: #000;
	font-size: 14px;
}
.mob-edition-item strong {
    font-size: 16px;
    color: #040404;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    margin: 0;
}
.mob-edition-item p strong sup {
    font-weight: 600;
}
a.yellow-small {
   width: 80px;
   padding: 0 !important;
   text-align: center;
   font-weight: 400 !important;
   font-size: 16px !important;
   line-height: 36px;
}
.main-body .right .blue-small {
	width: 80px;
	padding: 0 !important;
	text-align: center;
	font-weight: 400 !important;
    font-size: 16px !important;
	line-height: 36px;
}	


}	



@media (max-width :767px) and (min-device-width :280px){

.main-body .left .items .searches .search-box2 h4.spn {
	height: 55px;
	padding: 0px 0px 0px 26px;
	line-height: 55px;
}
.main-body .left .items .searches .search-box h4::before {
    top: 22px;
    left: 9px;
}
.main-body .left .items .searches .search-box h4::after {
    top: 22px;
    right: 35px;
}
.main-body .left {
    padding: 0px 0px 30px 0px;
}  
.main-body .left .login-registerr .dropdown {
    height: 55px;
} 
.main-body .left .login-register a.anti-dbtn {
    line-height: 55px;
	padding: 0;
} 
.main-body .left .sell-books a {
    height: 55px;
    line-height: 55px;
} 
.main-body .left .other-links a {
    height: 55px;
}
.main-body .left .sell-books a {
    margin: 0 0 5px 0;
} 


}


@media (max-width :1099px) and (min-device-width :768px){

.footer {
    padding: 42px 30px 46px 30px;
}    

}   